@import colors
@import prefixes
@import 'components/triangle'

.ig
	@import basics
.ig
	font-family 'Roboto', sans-serif
	ul
		margin 0px
		padding 0px
		li
			list-style none
			position absolute
			left 0px
			height 50px
			width 610px
		li.header
			border-bottom 1px solid #9
			height 50px
			[data-sorter]:hover
				text-decoration underline
				cursor pointer
			.total
				position absolute
				left 0px
				width 135px
				text-align center
				line-height 49px
			.cols
				&.topline
					text-align center
					color #6
					font-size 13px
				position absolute
				left 390px
				width 220px
				&.headers
					top 22px
					height 40px
					float left
				.col
					float left
					width (100% / 4)
					text-align center
					font-weight 800
					padding 4px 0px
					&:nth-child(1)
						background lighten(#ff7f00, 98%)
						border-bottom 1px solid lighten(#ff7f00, 40%)
						color darken(#ff7f00, 40%)
					&:nth-child(2)
						background lighten(#984ea3, 98%)
						border-bottom 1px solid lighten(#984ea3, 40%)
						color darken(#984ea3, 40%)
					&:nth-child(3)
						background lighten(#4daf4a, 98%)
						border-bottom 1px solid lighten(#4daf4a, 40%)
						color darken(#4daf4a, 40%)
					&:nth-child(4)
						background lighten(#377eb8, 98%)
						border-bottom 1px solid lighten(#377eb8, 40%)
						color darken(#377eb8, 40%)
					&:nth-child(5)
						background lighten(#e41a1c, 98%)
						border-bottom 1px solid lighten(#e41a1c, 40%)
						color darken(#e41a1c, 40%)
			.sort-tip
				position absolute
				bottom 7px
				text-align right
				line-height 12px
				right 230px
				font-size 12px
				color #6
				&:after
					content "›"
					position absolute
					bottom 0px
					right -7px



		li.body
			border-bottom 1px solid #e
			transition top 0.4s
			.total
				position absolute
				top 50%
				left 90px
				transform translate(-50%, -50%)
				border-radius 50%
				background ColorRed
			.count
				position absolute
				text-align left
				white-space nowrap
				top 50%
				transform translate(0, -50%)
			.name
				position absolute
				left 135px
				top 50%
				transform translate(0, -50%)
				width 230px
				font-weight 300
				font-size 18px
				line-height 17px
				&.long
					font-size 14px
			.cols
				position absolute
				top 1px
				left 390px
				width 220px
				height 100%
				.col
					width (100% / 4)
					float left
					height 100%
					position relative
					.area
						position absolute
						bottom 0px
						left 34%
						width (100% - @left * 2)
						span
							white-space nowrap
							position absolute
							left 50%
							transform translate(-50%, 0)
							font-weight 500
							opacity 0
							transition opacity 0.2s
							text-shadow -1px -1px 0px rgba(255,255,255, 0.7), -1px 1px 0px rgba(255,255,255, 0.7), 1px -1px 0px rgba(255,255,255, 0.7), 1px 1px 0px rgba(255,255,255, 0.7)
						&.small span
							transform translate(-50%, -100%)
					&:nth-child(1)
						background lighten(#ff7f00, 98%)
						border-bottom 1px solid lighten(#ff7f00, 40%)
						.area
							background #ff7f00
					&:nth-child(2)
						background lighten(#984ea3, 98%)
						border-bottom 1px solid lighten(#984ea3, 40%)
						.area
							background #984ea3
					&:nth-child(3)
						background lighten(#4daf4a, 98%)
						border-bottom 1px solid lighten(#4daf4a, 40%)
						.area
							background #4daf4a
					&:nth-child(4)
						background lighten(#377eb8, 98%)
						border-bottom 1px solid lighten(#377eb8, 40%)
						.area
							background #377eb8
					&:nth-child(5)
						background lighten(#e41a1c, 98%)
						border-bottom 1px solid lighten(#e41a1c, 40%)
						.area
							background #e41a1c
			&:hover
				.col .area span
					opacity 1
	ul.vek
		li
			.sort-tip
				right 260px
			.name
				left 20px
			.cols
				left 360px
				width 250px
				.col
					width (100% / 5)
